<%- include('../includes/head') %>
<style>
  body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #5ab8d8 0%, #c2bcd1 100%);
  height: 100%;
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

.card{
  width: 50rem; 
  text-align:center; 
  border-radius: 30px;
}
</style>
<link rel="stylesheet" href="/css/dashboard.css">

  <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
          <div class="sidebar-header text-center">
              <h3>Welcome</h3>
     
          </div>
          <ul class="components text-center">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" >Student Record</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/subject" >Subject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
          </ul>
      </nav>
      <!-- Page Content Holder -->
      <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
                      <h4></h4>
              </div>
          </nav>


          
            
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="/subject">Subject Record</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/add-student">Add student</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/add-subject">Add Subject</span></a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
                
          <!-- 
                <form action="/student/search" class="search-form">
                  <div class="form-group">
                      <input type="search" class="form-control" required name="term" placeholder="Search by Religion">
                      <button  type="submit" class="btn btn-primary form-control"value="Search">Search</button>
                  </div>
                </form> -->

                      <h1 class="text-center">Subject Record</h1>
          
                  <% if (sub.length > 0) { %>
                
                          <table class="text-center ml-3"  border="1" cellpadding="15" style="width:100%">
                              <tr>
                                  <th>id</th>
                                  <th>Subject Code</th>
                                  <th>Student Name</th>
                                  <th>Units</th>
                                  <th>Hour</th>
                                  <th>Subject Category</th>
                                  <th>Faculty Name</th>
                              </tr>
                              <tr>
                              <% for (let subject of sub) { %>
                                  <td><%= subject.id %></td>
                                  <td><%= subject.subjectCode %></td>
                                  <td><%= subject.subjectName %></td>
                                  <td><%= subject.units %></td>
                                  <td><%= subject.hour %></td>
                                  <td><%= subject.subjectCategory %></td>
                                  <td><%= subject.facultyName %></td>
                                  
                                  <td>
                                      <input type="hidden" value="<%= subject.id %>" name="subjectId">
                                      <a href="/edit-student/<%= subject.id %>?edit=true" class="btn btn-warning">Edit</a>
                                  </td>
                                  <td>
                                      <form action="/delete-student" method="POST">
                                          <input type="hidden" value="<%= subject.id %>" name="studentId">
                                          <button class="btn btn-danger " type="submit">Delete</button>
                                        </form>          
                                  </td>
                              </tr>
                              <% } %>
                          </table>

                  <% } else { %>
                      <div class="container">
                          <h1>No Student Found!</h1>
                          <a href="/student" class="btn btn-primary">Return</a> <br> 
                      </div>
                          <% } %>          
        </div>

<%- include('../includes/footer') %>

